{% for product in products %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-product mb-4">
            {% if product.image %}
                <img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ path('product_show', {slug: product.slug}) }}" title="{{ product.name }}">
                        {{ product.name }}
                    </a>
                </h4>
                <p class="card-text">{{ product.description | u.truncate(80, '...', false) }}</p>
                <div class="mb-4">
                    Catégorie: {# product.category.name #}
                </div>
                <div class="row">
                    <div class="col">
                        <p class="btn btn-danger btn-block">{{ product.price | format_currency('EUR') }}</p>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-success btn-block">Ajouter au panier</a>
                    </div>
                    {% if app.user %}
                    <div class="col mt-4">
                        {% if is_granted('edit', product) %}
                        <a href="{{ path('product_edit', {id: product.id}) }}" class="btn btn-secondary mr-3">Modifier</a>
                        {% endif %}

                        {% if is_granted('delete', product) %}
                        <a
                            href="{{ path('product_delete', {id: product.id}) }}"
                            class="btn btn-danger"
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
                        >
                            Supprimer
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
